<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://testcontactmanagerapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>testcontactmanagerapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>testcontactmanagerapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$testcontactmanagerapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContactManagerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:testcontactmanagerapp.database.windows.net,1433;Initial Catalog=testcontactmanagerapp_db;User ID=dejay166@testcontactmanagerapp;Password=Dj140787" Name="Data Source=tcp:testcontactmanagerapp.database.windows.net,1433;Initial Catalog=testcontactmanagerapp_db;User Id=dejay166@testcontactmanagerapp;Password=Dj140787;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ContactManagerContext-20160115225435.mdf;Initial Catalog=ContactManagerContext-20160115225435;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContactManagerContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=ContactManagerContext-20160115225435; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ContactManagerContext-20160115225435.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContactManagerContext-Web.config Connection String">
      <ParameterValue>data source=tcp:testcontactmanagerapp.database.windows.net,1433;initial catalog=testcontactmanagerapp_db;user id=dejay166@testcontactmanagerapp;password=Dj140787;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>